#wizard-app {
	    display: inline-block;
}
#TB_ajaxContent {
	width:100%!important;
	padding:0px!important;
}
#TB_ajaxContent .bottom-half {
	width: 97.5%;
    position: absolute;
    height: 50px;
    padding: 10px;
    bottom:0px;
    background-color: #fff;
}

#TB_ajaxContent .bottom-half button {
	  display: inline-block;
	  float:right;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 20px;
	  background: #175782;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	  border: none;
	  cursor:pointer;
}

#TB_ajaxContent .bottom-half button:hover {
	background: #0b4d75;
    text-decoration: none;
}

#TB_ajaxContent .steps li {
    display: inline-block;
    font-weight: 700;
    font-size: 1.1em;
    margin-left: 5px;
    padding: 10px;
    background-color: #eee;
    cursor:pointer;
}

#TB_ajaxContent .steps li:hover {
	background-color:#dee;
}

#TB_ajaxContent .steps li.active {
	 background-color: #dee;
}

#TB_ajaxContent .current-shortcode {
	padding: 5px;
    background-color: #eee;
    width: 79%;
    display: inline-block;
    height: 43px;
    overflow-y: scroll;
}
#TB_ajaxContent .current-shortcode p {
	padding: 0px;
    margin: 0px;
    font-weight: 200;
    font-size: 1em;
}
    
#TB_ajaxContent .feedback {
	padding: 10px;
    margin-top: 20px;
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    position: absolute;
    width: 90%;
    bottom: 60px;
} 
#TB_ajaxContent .warning {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size:16px;
    padding: 15px;
} 

.step-content {
	padding: 0px 20px 10px 20px;
}
.step-content span {
	display:block;
}
#TB_ajaxContent select {
	height: 40px;
    width: 100px;
}

#add_column {
	float: right;
}

#remove_column {
	float:right;
}
.column {
	    margin-top: 10px;
	    background-color: #fff;
}

.column .column-header {
    background-color: #67b2e4;
    padding: 5px 11px;
}

.column .column-header h3 {
	display: inline-block;
    margin: 5px;
}

.column .column-content {
	padding:10px;
	border: #ddd solid 1px;
}

.column .column-content .add {
	display:inline-block;
}

.column .column-content select, input {
	margin-bottom: 12px;

}

#TB_ajaxContent .column select {
	height: 30px;
}

#TB_ajaxContent p {
	padding:0px;
	font-size: 1.2em;
}

.column .column-content .values {
	margin-right: 15px;
	display:inline-block;
}
.columns {
    margin-bottom: 100px;
}
.columns button {
	border-radius: 0px;
    color: #ffffff;
    font-size: 14px;
    background: #3498db;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
} 
.columns button .values {
	    font-size: 10px;
	
}

#TB_ajaxContent button[disabled="disabled"] {
	opacity: 0.5;
}

#TB_ajaxContent .bottom-half span.tooltip-right {
	margin-right: 5px;
    float: left;
    margin-top: 20px;
}

#TB_ajaxContent span.tooltip-right  {
	display: inline-block;
}

#TB_ajaxContent span.tooltip-right icon {
	font-size: 15px;
    margin-left: 5px;
}

/***** This css is all for the tool tips *****************************/


/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  min-width: 200px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.3;
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}


/***** End  css is all for the tool tips *****************************/
